In [71]:
import pandas as pd
import numpy as np
import os
from numpy import random
import scipy 
from scipy import stats
from matplotlib import pyplot as plt
from scipy.stats import binom
from scipy.stats import poisson
from scipy.stats import norm ,t
import seaborn as sns
import pylab
from pylab import legend,plot,show,title,xlabel,ylabel
from random import choice
import statsmodels
from statsmodels import stats
from statsmodels.stats import weightstats as ssw
import statsmodels.api as sm
from statsmodels.formula.api import ols
import statsmodels.stats.multicomp
from statsmodels.stats.multicomp import pairwise_tukeyhsd
from statsmodels.stats import proportion as ssp
from scipy.stats import chisquare
from scipy.stats import chi2_contingency


from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

from statsmodels.stats.outliers_influence import variance_inflation_factor

In [61]:
df = pd.read_excel("CDAC_Databook.xlsx", sheet_name='VIF')

In [39]:
df.head()

,Education,Region,Gender,Exp,Union,Wage,Age,Race,Occupation,Sector,Married
0,9,0,1,42,0,4.95,57,3,6,1,1
1,12,0,0,1,0,6.67,19,3,6,1,0
2,12,0,0,4,0,4.00,22,3,6,0,0
3,12,0,0,17,0,7.50,35,3,6,0,1
4,13,0,0,9,1,13.07,28,3,6,0,0

In [41]:
df = df[['Age', 'Exp', 'Education', 'Married', 'Wage']]

In [43]:
df.head()

   Age  Exp  Education  Married   Wage
0   57   42          9        1   4.95
1   19    1         12        0   6.67
2   22    4         12        0   4.00
3   35   17         12        1   7.50
4   28    9         13        0  13.07

In [45]:
df_marr = pd.get_dummies(df['Married'], drop_first=True).astype(int)
df = df.drop('Married', axis = 1)
df = pd.concat([df, df_marr], axis = 1)

In [47]:
df.head()

   Age  Exp  Education   Wage  1
0   57   42          9   4.95  1
1   19    1         12   6.67  0
2   22    4         12   4.00  0
3   35   17         12   7.50  1
4   28    9         13  13.07  0

In [51]:
x_train, x_test, y_train, y_test = train_test_split(df.drop('Wage', axis = 1), df['Wage'], test_size=0.2, random_state=20)

In [53]:
x_train = sm.add_constant(x_train, prepend=False)

In [55]:
mod2 = sm.OLS(y_train, x_train).fit()

In [57]:
print(mod2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Wage   R-squared:                       0.263
Model:                            OLS   Adj. R-squared:                  0.258
Method:                 Least Squares   F-statistic:                     50.15
Date:                Fri, 20 Dec 2024   Prob (F-statistic):           9.69e-28
Time:                        18:05:58   Log-Likelihood:                -1218.2
No. Observations:                 426   AIC:                             2444.
Df Residuals:                     422   BIC:                             2461.
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Age           -0.9282      0.191     -4.863      0.000      -1.303      -0.553
Exp            1.0452      0.201      5.204      0.000       0.650       1.440
Education      1.9009      0.270      7.032      0.000       1.370       2.432
1              0.6710      0.447      1.500      0.134      -0.208       1.550
const         -0.6457      0.110     -5.866      0.000      -0.862      -0.429
==============================================================================
Omnibus:                       51.289   Durbin-Watson:                   2.067
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               71.705
Skew:                           0.834   Prob(JB):                     2.69e-16
Kurtosis:                       4.122   Cond. No.                     2.64e+16
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The smallest eigenvalue is 1.25e-27. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

In [63]:
df = df[['Married', 'Wage', 'Education']]

In [65]:
df_marr = pd.get_dummies(df['Married'], drop_first=True).astype(int)
df = df.drop('Married', axis = 1)
df = pd.concat([df, df_marr], axis = 1)

In [67]:
x_train, x_test, y_train, y_test = train_test_split(df.drop('Wage', axis = 1), df['Wage'], test_size=0.2, random_state=20)

In [69]:
x_train = sm.add_constant(x_train, prepend=False)
mod2 = sm.OLS(y_train, x_train).fit()
print(mod2.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                   Wage   R-squared:                       0.193
Model:                            OLS   Adj. R-squared:                  0.189
Method:                 Least Squares   F-statistic:                     50.47
Date:                Fri, 20 Dec 2024   Prob (F-statistic):           2.20e-20
Time:                        18:09:01   Log-Likelihood:                -1237.6
No. Observations:                 426   AIC:                             2481.
Df Residuals:                     423   BIC:                             2493.
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Education      0.7850      0.081      9.710      0.000       0.626       0.944
1              1.3815      0.453      3.052      0.002       0.492       2.271
const         -2.1835      1.131     -1.930      0.054      -4.407       0.040
==============================================================================
Omnibus:                       56.332   Durbin-Watson:                   2.111
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               76.768
Skew:                           0.934   Prob(JB):                     2.14e-17
Kurtosis:                       3.913   Cond. No.                         71.2
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [75]:
for i in range(df.shape[1]):
    print(f'Column {i} has VIF factor as {variance_inflation_factor(df.values, 1)}')

Column 0 has VIF factor as 5.948866949534532
Column 1 has VIF factor as 5.948866949534532
Column 2 has VIF factor as 5.948866949534532